<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/lostinmyworld/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="lostinmyworld" />
            <add key="ClearTextPassword" value="a3b741e6946076a1975fa22adc9209107a1a2ed7" />
        </github>
    </packageSourceCredentials>
</configuration>